body {
  background-image: url('cloud5-3.png');
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.move-image {
  width: 100px;
  height: 100px;
  background-image: url('23-1.png');
  background-size: cover;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  animation: moveFromRightToCenter 3s forwards;
}

@keyframes moveFromRightToCenter {
  0% {
    right: -100px;
  }
  100% {
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
}

:root {
  --primary: #fff;
  --bg-envelope-color: #d1e4f5;
  --envelope-tab: #b8d5ec;
  --envelope-cover: #a7cbe6;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(250, 115, 169);
}

.container {
  min-height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  position: relative;
}

.envelope {
  position: relative;
  width: 285px;
  height: 215px;
}

.envelope::before {
  content: '';
  position: absolute;
  z-index: 2;
  border-top: 125px solid var(--envelope-tab);
  border-right: 145px solid transparent;
  border-left: 145px solid transparent;
  top: 0;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope::after {
  content: '';
  position: absolute;
  z-index: 4;
  border-top: 125px solid transparent;
  border-left: 145px solid var(--envelope-cover);
  border-right: 145px solid var(--envelope-cover);
  border-bottom: 91px solid var(--envelope-cover);
  bottom: 0;
}

.letter {
  position: absolute;
  z-index: auto;
  right: 17.5%;
  bottom: 0;
  width: 57%;
  height: 86%;
  background: var(--primary);
  transition: all 1s ease-in-out;
  padding: 15px 10px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.letter .text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8.8px;
  color: var(--txt-color);
  text-align: left;
}

.center-message {
  margin-top: 10px;
  text-align: center;
  font-size: 9px;
}

.heart {
  position: absolute;
  bottom: 90px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translateX(-50%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 0 10px var(--shadow-color);
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  top: -7.5px;
}

.heart::after {
  right: 7.5px;
}

.flap .envelope::before {
  z-index: 0;
  transform: rotateX(180deg);
}

.flap .envelope .letter {
  z-index: 3;
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}

.flap .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}
